
.main-tables-container {
    display: flex;
    width: 920px;
    margin: 0 auto;
    overflow-x: unset;
}

/*.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('../assets/img/bitcoinbaby2x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}*/

.block-product-detail {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}

.plans-container--slider {
    justify-content: center;
    overflow-x: unset;
}

@media (min-width:1920px){
    .main-exchange-container .backgroundImg {
        width: 450px;
        height: 450px;
    }

    .bitcoin-img-container {
        height: 90vh;
        overflow: hidden;
    }
    .bitcoin-img-container h2{
        padding-top: 100px;
        font-size: 10.4rem;
    }


}